

<div class="container">
    <div class="row row-content" ng-controller="MenuController">
        <div class="col-xs-12" ng-if="!showMenu">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showMenu">
            <button ng-click="toggleDetails()" class="btn btn-primary pull-right" type="button">
                {{showDetails?'Hide Details':'Show Details'}}
            </button>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)" aria-controls="all menu" role="tab">The Menu</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)" aria-controls="appetizers" role="tab">Food</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)" aria-controls="mains" role="tab">Drinks</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)" aria-controls="desserts" role="tab">Desserts</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row">
                    <div ng-repeat="dish in dishes | filter:filtText | slice:start:end">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a ui-sref="app.productdetails({id:dish.ProductID})">
                                    <img class="img-thumbnail" ng-src="data:image/JPEG;base64,{{dish.ImageData}}" alt="Uthappizza">
                                </a>
                                <div class="caption">
                                    <div style="padding-bottom:10px">
                                        <p align="center">
                                            {{dish.P_Name}}
                                            <span class="label label-danger label-xs">{{dish.Label}}</span>
                                            <span class="badge">{{dish.P_Price | currency}}</span>
                                        </p>
                                    </div>
                                    <form class="form-inline">
                                        <div class="form-group" style="padding:0px 30px 0px 40px">
                                            Qty:
                                            <select ng-model="dish.qty" ng-options="x for x in Selectvalues"></select>
                                        </div>
                                        <div class="form-group">
                                            <a href="#" class="btn btn-default pull-right" role="button" ng-click="$parent.addItem(dish.ProductID,dish.P_Name,dish.qty,dish.P_Price)">Add To Cart</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="minusFive()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="addFive()"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
